.colortext {	color:#f54828;}
.colorbg {background:#f54828;}
a {	color:#f54828;}
::selection{background:#f54828;}
.navbar-nav>li.active>a,.navbar-nav>li.active>a:hover,.navbar-nav>li.active>a:focus {background-color:#cc0033;}
.navbar-nav>li.active>a:before,.navbar-nav>li>a:hover:before,.navbar-nav>li>a:focus:before,.extra-nav-class a.dropdown-toggle:before {border-bottom:6px solid #cc0033;}
.navbar-nav>li>a:hover,.navbar-nav>li>a:focus {	background-color:#cc0033;}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {background-color:#cc0033 !Important;}
.extra-nav-class a.dropdown-toggle {	background-color:#cc0033 !Important;}
.car-highlight1 {background-color:#cc0033;}
.car-smallcircle {background:#cc0033;}
.carouselText2 {	background:#cc0033;}
.icon-box-top i:hover {background-color:#cc0033;}
.fontawesome-icon.circle-white {	color:#cc0033;}
.grey-box-icon:hover .fontawesome-icon.circle-white,.grey-box-icon.active .fontawesome-icon.circle-white,.active i.fontawesome-icon {background-color:#f54828;}
.home-features .icon {background:#f54828;}
.copyright {	background-color:#cc2036;}
.panel1 {border-left:6px solid #f54828;}
.buttoncolor {background:#f54828;}
.panel,.panel2 { border-radius:0 !important;}
.portlet.box.darker .panel{ background:none !important; border-width:0 !important; padding:10px;}
.portlet.box.darker.fliter .panel{ background:none !important; border-width:0 !important; padding-left:10px; padding-top:0; padding-right:10px; padding-bottom:0;}

.portlet.box.darker .form-actions {  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    margin-top: 0;
    text-align: center;}
.portlet.box.darker .panel .panel-heading {background:none !important; padding-left:5px; padding-right:5px; border-bottom:1px solid #848383; border-radius:0 !important; }
.portlet.box.darker.fliter .panel .panel-heading {background:none !important; padding-left:5px; padding-right:5px; border-bottom: none; border-radius:0 !important; }
.portlet.box.darker .panel .panel-heading a:hover, .portlet.box.darker .panel .panel-heading a:active, .portlet.box.darker .panel .panel-heading a:focus { text-decoration:none;}

.portlet.box.darker .panel .panel-heading .panel-title .accordion-toggle .mine:after {font-family: 'FontAwesome'; content: "\f107"; float:right; color:#fff; }
.portlet.box.darker .panel .panel-heading .panel-title .accordion-toggle.collapsed .mine:after {font-family: 'FontAwesome'; content: "\f104"; float:right;color:#7a7a7a;}

.portlet.box.darker .panel .panel-heading .panel-title .accordion-toggle .mine2:after {font-family: 'FontAwesome'; content: "\f107"; float:right; color:#fff; }
.portlet.box.darker .panel .panel-heading .panel-title .accordion-toggle.collapsed .mine2:after {font-family: 'FontAwesome'; content: "\f104"; float:right;color:#7a7a7a;}


.portlet.box.darker .panel .panel-heading .panel-title .accordion-toggle.collapsed .mine3:after {font-family: 'FontAwesome'; content: "\f104"; float:right;color:#7a7a7a;}
.portlet.box.darker .panel .panel-heading .panel-title .accordion-toggle .mine3:after {font-family: 'FontAwesome';content: "\f107";; float:right;color:#fff; }



/**/
.portlet.box.darker .panel .panel-heading .panel-title .accordion-toggle .minea:after {font-family: 'FontAwesome'; content: "\f0d7"; color:#44c0f9; margin-left:5px; }
.portlet.box.darker .panel .panel-heading .panel-title .accordion-toggle.collapsed .minea:after {font-family: 'FontAwesome'; content: "\f0d9"; color:#44c0f9; margin-left:5px;}

.portlet.box.darker .panel .panel-heading .panel-title .accordion-toggle .mine2a:after {font-family: 'FontAwesome'; content: "\f0d7";  color:#44c0f9; margin-left:5px; }
.portlet.box.darker .panel .panel-heading .panel-title .accordion-toggle.collapsed .mine2a:after {font-family: 'FontAwesome'; content: "\f0d9";color:#44c0f9;}


.portlet.box.darker .panel .panel-heading .panel-title .accordion-toggle.collapsed .mine3a:after {font-family: 'FontAwesome'; content: "\f0d9"; color:#44c0f9;}
.portlet.box.darker .panel .panel-heading .panel-title .accordion-toggle .mine3a:after {font-family: 'FontAwesome';content: "\f0d7"; color:#44c0f9; }
/**/
.portlet.box.darker .panel .panel-heading a { color:#fff; text-transform:uppercase; font-weight:normal; }
.portlet.box.darker .panel .panel-heading a.collapsed { color:#d8d8d8; text-transform:uppercase; font-weight:normal; }
.portlet.box.darker .panel .panel-heading i { padding-right:10px;}
.portlet.box.darker .panel-body { border-top:3px solid #f2174e; margin-top:-1px !important; padding:0 !important;}
.portlet.box.darker.fliter .panel-body { border-top:none; margin-top:-1px !important; padding:0 !important;}
.form-flight .form-body { padding-left:0; padding-right:0; padding-bottom:0;}

.form-flight .form-body .form-group .input-group-addon { background:none; border:none; min-width:0 !important;}

.form-flight .form-body .form-group .input-daterange input {    border-radius: 2px;
    color: #767474;
	display:block;
    padding: 4px 10px;}
.form-flight .form-body .form-group .input-medium { width:100% !important;}
.note-text { color:#fff; font-size:14px;}

.portlet.box.darker .panel .panel-heading.top-bor {border-top: 1px solid #848383;}

.email-action { padding:10px; text-align:center;}
/**/
.page-content.list-search { background:none; padding-top:0;}
.page-content.list-search .row {margin-left: -15px;
    margin-right: -15px;}
.head-mock1 { font-size:15px; color:#444; }
.head-mock1b { font-size:17px; color:#444; }		
.btn.mock2 { border-radius:0 !important; font-size:14px; }
.btn.mock2 i { margin-left:5px;}
.large-padding-top.table-flex { margin-top:20px;}
.large-padding-top.table-flex .table { margin-bottom:0; background-color:#fff;}
.large-padding-top.table-flex .table th { background:#aaaaaa; border:medium none; color:#fff;}
.large-padding-top.table-flex .table td { border-left:medium none;}

.large-padding-top.table-flex .table-bordered th, .large-padding-top.table-flex .table-bordered td {
    border-left: medium none;
	border-right: medium none;
    vertical-align: middle;
}

.large-padding-top.table-flex .disabled { color:#bbb; font-size:14px;}
.large-padding-top.table-flex .selected { color:#444; font-size:14px; font-weight:bold;}
/**/

.nhom-nut { margin-top:25px; text-align:right; margin-bottom:30px;}
.nhom-nut .btn-group{ margin-left:10px;}
.nhom-nut .btn-group .dropdown-menu { padding:5px;}
.nhom-nut .btn-group .dropdown-menu:before { border-bottom: 7px solid rgba(255, 255, 255, 1);
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block !important;
    position: absolute;
    left: 9px;
    top: -7px;}
.nhom-nut .btn-group .dropdown-menu > li > a { background-color:#fff !important; text-align:left; color:#000; border-width:0 !important;}
.nhom-nut .btn-group .dropdown-menu > li > a:hover { background-color:#ddd !important;}


.nhom-nut2 { }
.nhom-nut2 .btn-group{ }
.nhom-nut2 .btn-group .dropdown-menu { padding:5px;}
.nhom-nut2 .btn-group .dropdown-menu:before { border-bottom: 7px solid rgba(255, 255, 255, 1);
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block !important;
    position: absolute;
    left: 9px;
    top: -7px;}
.nhom-nut2 .btn-group .dropdown-menu > li > a { background-color:#fff !important; text-align:left; color:#000; border-width:0 !important;}
.nhom-nut2 .btn-group .dropdown-menu > li > a:hover { background-color:#ddd !important;}
/*hotel*/
.hotel-result-box {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #edf3fa;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #fff;
	border: solid 1px #d3d3d3
}

.hotel-result-box .hotel-article h3 { margin-top:0; margin-bottom:0px;}
.hotel-result-box .hotel-article h3 a { font-size:18px;}

.hotel-result-box .hotel-article h3 .rating { font-size:20px;}
.hotel-result-box .hotel-article h3 .rating span.star:before
 {
  content: "\f005";
  color: #e3cf7a;
}

.head-star .rating{font-size:20px;}
.head-star .rating span.star:before
 {
  content: "\f005";
  color: #e3cf7a;
}
.head-add .address { font-size:14px; text-transform:uppercase;}
.head-add .address i { margin-right:5px;}


.head-tab-hotel {}
.head-tab-hotel .nav-pills { margin-top:10px; background:#EEEEEE; }
.head-tab-hotel .nav-pills a { padding-top:7px; padding-bottom:7px; padding-left:10px; padding-right:10px; border-radius:0; color:#333;}
.head-tab-hotel .tab-content { border:none; padding:0;}
.head-tab-hotel .tab-content .carousel.image-carousel .carousel-indicators {
  bottom: -10px;
    padding-bottom: 5px;
    padding-top: 7px;
}

.head-tab-hotel .tab-content .carousel-indicators {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    bottom: 10px;
    left: 0;
    list-style: none outside none;
    margin-left: 0;
	position:absolute;
    padding-left: 0;
    text-align: center;
    width: 100%;
    z-index: 15;
}

.tab-content img {
    margin-bottom: 0;
}

.head-tab-hotel .tab-content .carousel-indicators li.active {
	 transition: all 0.2s ease 0s;
    border: 3px solid #6BB6D3;
	opacity:1;
}

.head-tab-hotel .tab-content .carousel-indicators li:hover {
	 transition: all 0.2s ease 0s;
	opacity:1;
}

.head-tab-hotel .tab-content .carousel.image-carousel .carousel-indicators li.active {
    background-color: #333333;
}

.head-tab-hotel .tab-content .carousel-indicators li {
	border: 3px solid #fff;
	background-color: rgba(255,255,255, 0.4); transition: all 0.2s ease 0s;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
	opacity:0.7;
    height: 50px;
    margin: 1px 10px 1px 1px;
    overflow: hidden;
    text-indent: -999px;
    width: 70px;
}

.head-tab-hotel .tab-content .over-view { padding:10px;}
.head-tab-hotel .tab-content .over-view h2 { font-size:16px; margin-top:5px;}
.head-tab-hotel .tab-content .over-view p { font-size:14px; margin-bottom:10px;}

.head-tab-hotel .tab-content .table-over { padding:10px;}


.head-tab-hotel .tab-content .carousel-indicators li img { max-width:70px;}

.hotel-result-box .hotel-article .review a { color:rgba(15,152,228,1.00);}

.hotel-result-box .hotel-article h3 .rating span.star:hover:before { text-decoration:none;}

.hotel-result-box .hotel-article .address { color:#333; font-size:14px;}
.hotel-result-box .hotel-article .destination { font-size:14px; }
.hotel-result-box .hotel-article .destination i { margin-right:5px;}
.hotel-result-box .hotel-article .description { color:#333; font-size:14px; margin-top:5px;}

.box-hotel-rom .selectroomsheader{ margin-top:15px;}
.rooms-container .nav > li > a{ padding:5px 15px !important; margin-right:10px;}

.box-hotel-rom .tab-content { border:none; padding:0; margin-top:10px;}
.box-hotel-rom  .tab-content .establishment-roomtype .text-head { color:#333; font-size:14px;}
.box-hotel-rom  .tab-content .table td { vertical-align:middle;}
.box-hotel-rom  .tab-content .table { margin-bottom:5px;}


/**/


.table-over .establishment-roomtype .text-head { color:#333; font-size:14px;}
.table-over .table td { vertical-align:middle;}
.table-over .table { margin-bottom:5px;}
.table-over .price {
    color: #0088CC;
    font-size: 16px;
    font-weight: bold;
}


.table-over .table-bordered > thead > tr > th,.table-over .table-bordered > tbody > tr > th,.table-over .table-bordered > tfoot > tr > th,.table-over .table-bordered > thead > tr > td, .table-over .table-bordered > tbody > tr > td,.table-over .table-bordered > tfoot > tr > td {
	border-left:none;
	border-right:none;
}

.facilities { padding:10px;}
.facilities  h3 { font-size:16px; margin-top:5px; }
.facilities  .facility-list{overflow: hidden;
    padding: 0;}
.facility-list > li {
    display: block;
    float: left;
	clear:none;
    width: 33%;
}

/*review*/
.establi-review  { padding:10px;}
.establi-review h2 { font-size:18px; margin-top:5px;}
.establi-review .form-group input{ margin-bottom:0;}
.establi-review .form-group .selects{ margin-bottom:5px;}
.establi-review  .add-review { margin-bottom:15px;}
.establi-review .rating { color: #D90E53;
text-align:right;
    font-size: 16px;
    font-weight: bold;
	direction:ltr;
    line-height: 22px;
    margin-bottom: 5px;}
	
.establi-review p.date { text-align:right; font-size:12px; color:#333; font-weight:bold; margin-bottom:5px;}
.establi-review p { margin-bottom:5px;}
.establi-review p.reviewer-type { text-align:right !important; font-size:14px; margin-bottom:5px;}
.establi-review p.description { font-size:14px; color:#333; margin-bottom:5px;}
.establi-review .box-pad { margin-bottom:5px;}
.establi-review .more-cm { font-size:14px; cursor:pointer;}

.establi-review .review-rating { text-align:right;}
.establi-review .positive { font-size:14px;}

.establi-review p.hel-full { font-size:14px; color:#333;}

.establi-review .comment-box.box-pad  p{ font-size:14px; margin-bottom:10px;}
.establi-review .comment-box.box-pad .add-me { color:#333;}
.establi-review .review { margin-bottom:10px;}

/*flight*/
.form-flight label{ color:#ddd;}
.flights-result-box {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #edf3fa;
	margin-bottom: 20px;
	padding: 0;
	background-color: #fff;
	border: solid 1px #d3d3d3
}
.flights-result-box address {
	margin-bottom: 0
}
.flights-result-box .footer, .flights-result-box .seperator {
	border-top: solid 1px #bfbfbf
}
.flights-result-box.no-pad {
	padding: 0
}
.flights-result-box.box-pad {
	padding: 10px 25px 10px 15px
}
.flights-result-box.grey {
	background-color: #f5f5f5
}
.flights-result-box.grey.border {
	border: 1px solid #bfbfbf
}
.flights-result-box.grey.gradient {
	background-color: #fff
}
.flights-result-box.map {
	height: 400px
}
.flights-result-box.gradient {
	background-image: -webkit-linear-gradient(top, transparent, rgba(0,0,0,.1));
	background-image: -moz-linear-gradient(top, transparent, rgba(0,0,0,.1));
	background-image: -o-linear-gradient(top, transparent, rgba(0,0,0,.1));
	background-image: -ms-linear-gradient(top, transparent, rgba(0,0,0,.1));
	background-image: linear-gradient(top, transparent, rgba(0,0,0,.1))
}
.flights-result-box .box-footer {
	padding-top: 10px
}
.flights-result-box .padded-row {
	padding: 10px 20px
}
.flights-result-header {
	background-color: #aaa;
	color:#fff;
	overflow:hidden;
	font-size:14px;
}
.panel-title-head { color:#fff; margin-bottom:0 !important;}
.miso a {color:#44c0f9 !important;}
.miso i { margin-left:5px; color:#44c0f9;}
.standard-padding-bottom { padding-bottom:5px;}
.may-den { background-color:#f9f9f9;}
.mar-top { margin-top:20px;}
.standard-padding { padding-top:5px;}
.list-search .pagination{ margin-top:0 !important;}
.clearfix {
*zoom:1
}
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	line-height: 0
}
.clearfix:after {
	clear: both
}

.row-fluid {
	width: 100%;
*zoom:1
}
.row-fluid:before, .row-fluid:after {
	display: table;
	content: "";
	line-height: 0
}
.row-fluid:after {
	clear: both
}
.row-fluid:before, .row-fluid:after {
	display: table;
	content: "";
	line-height: 0
}
.row-fluid:after {
	clear: both
}
.row-fluid [class*="span"] {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 2.127659574%;
*margin-left:2.074468085%
}
.row-fluid [class*="span"]:first-child {
	margin-left: 0
}
.row-fluid .controls-row [class*="span"]+[class*="span"] {
margin-left:2.127659574%
}
.row-fluid .span12 {
	width: 100%;
*width:99.946808511%
}
.row-fluid .span11 {
	width: 91.489361702%;
*width:91.436170213%
}
.row-fluid .span10 {
	width: 82.978723404%;
*width:82.925531915%
}
.row-fluid .span9 {
	width: 74.468085106%;
*width:74.414893617%
}
.row-fluid .span8 {
	width: 65.957446809%;
*width:65.904255319%
}
.row-fluid .span7 {
	width: 57.446808511%;
*width:57.393617021%
}
.row-fluid .span6 {
	width: 48.936170213%;
*width:48.882978723%
}
.row-fluid .span5 {
	width: 40.425531915%;
*width:40.372340426%
}
.row-fluid .span4 {
	width: 31.914893617%;
*width:31.861702128%
}
.row-fluid .span3 {
	width: 23.404255319%;
*width:23.35106383%
}
.row-fluid .span2 {
	width: 14.893617021%;
*width:14.840425532%
}
.row-fluid .span1 {
	width: 6.382978723%;
*width:6.329787234%
}
.row-fluid .offset12 {
	margin-left: 104.255319149%;
*margin-left:104.14893617%
}
.row-fluid .offset12:first-child {
	margin-left: 102.127659574%;
*margin-left:102.021276596%
}
.row-fluid .offset11 {
	margin-left: 95.744680851%;
*margin-left:95.638297872%
}
.row-fluid .offset11:first-child {
	margin-left: 93.617021277%;
*margin-left:93.510638298%
}
.row-fluid .offset10 {
	margin-left: 87.234042553%;
*margin-left:87.127659574%
}
.row-fluid .offset10:first-child {
	margin-left: 85.106382979%;
*margin-left:85%
}
.row-fluid .offset9 {
	margin-left: 78.723404255%;
*margin-left:78.617021277%
}
.row-fluid .offset9:first-child {
	margin-left: 76.595744681%;
*margin-left:76.489361702%
}
.row-fluid .offset8 {
	margin-left: 70.212765957%;
*margin-left:70.106382979%
}
.row-fluid .offset8:first-child {
	margin-left: 68.085106383%;
*margin-left:67.978723404%
}
.row-fluid .offset7 {
	margin-left: 61.70212766%;
*margin-left:61.595744681%
}
.row-fluid .offset7:first-child {
	margin-left: 59.574468085%;
*margin-left:59.468085106%
}
.row-fluid .offset6 {
	margin-left: 53.191489362%;
*margin-left:53.085106383%
}
.row-fluid .offset6:first-child {
	margin-left: 51.063829787%;
*margin-left:50.957446809%
}
.row-fluid .offset5 {
	margin-left: 44.680851064%;
*margin-left:44.574468085%
}
.row-fluid .offset5:first-child {
	margin-left: 42.553191489%;
*margin-left:42.446808511%
}
.row-fluid .offset4 {
	margin-left: 36.170212766%;
*margin-left:36.063829787%
}
.row-fluid .offset4:first-child {
	margin-left: 34.042553191%;
*margin-left:33.936170213%
}
.row-fluid .offset3 {
	margin-left: 27.659574468%;
*margin-left:27.553191489%
}
.row-fluid .offset3:first-child {
	margin-left: 25.531914894%;
*margin-left:25.425531915%
}
.row-fluid .offset2 {
	margin-left: 19.14893617%;
*margin-left:19.042553191%
}
.row-fluid .offset2:first-child {
	margin-left: 17.021276596%;
*margin-left:16.914893617%
}
.row-fluid .offset1 {
	margin-left: 10.638297872%;
*margin-left:10.531914894%
}
.row-fluid .offset1:first-child {
	margin-left: 8.510638298%;
*margin-left:8.404255319%
}
.row-fluid {
	width: 100%;
*zoom:1
}
.row-fluid:before, .row-fluid:after {
	display: table;
	content: "";
	line-height: 0
}
.row-fluid:after {
	clear: both
}
.row-fluid:before, .row-fluid:after {
	display: table;
	content: "";
	line-height: 0
}
.row-fluid:after {
	clear: both
}
.row-fluid [class*="span"] {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 2.127659574%;
*margin-left:2.074468085%
}
.row-fluid [class*="span"]:first-child {
	margin-left: 0
}
.row-fluid .controls-row [class*="span"]+[class*="span"] {
margin-left:2.127659574%
}
.row-fluid .span12 {
	width: 100%;
*width:99.946808511%
}
.row-fluid .span11 {
	width: 91.489361702%;
*width:91.436170213%
}
.row-fluid .span10 {
	width: 82.978723404%;
*width:82.925531915%
}
.row-fluid .span9 {
	width: 74.468085106%;
*width:74.414893617%
}
.row-fluid .span8 {
	width: 65.957446809%;
*width:65.904255319%
}
.row-fluid .span7 {
	width: 57.446808511%;
*width:57.393617021%
}
.row-fluid .span6 {
	width: 48.936170213%;
*width:48.882978723%
}
.row-fluid .span5 {
	width: 40.425531915%;
*width:40.372340426%
}
.row-fluid .span4 {
	width: 31.914893617%;
*width:31.861702128%
}
.row-fluid .span3 {
	width: 23.404255319%;
*width:23.35106383%
}
.row-fluid .span2 {
	width: 14.893617021%;
*width:14.840425532%
}
.row-fluid .span1 {
	width: 6.382978723%;
*width:6.329787234%
}
.row-fluid .offset12 {
	margin-left: 104.255319149%;
*margin-left:104.14893617%
}
.row-fluid .offset12:first-child {
	margin-left: 102.127659574%;
*margin-left:102.021276596%
}
.row-fluid .offset11 {
	margin-left: 95.744680851%;
*margin-left:95.638297872%
}
.row-fluid .offset11:first-child {
	margin-left: 93.617021277%;
*margin-left:93.510638298%
}
.row-fluid .offset10 {
	margin-left: 87.234042553%;
*margin-left:87.127659574%
}
.row-fluid .offset10:first-child {
	margin-left: 85.106382979%;
*margin-left:85%
}
.row-fluid .offset9 {
	margin-left: 78.723404255%;
*margin-left:78.617021277%
}
.row-fluid .offset9:first-child {
	margin-left: 76.595744681%;
*margin-left:76.489361702%
}
.row-fluid .offset8 {
	margin-left: 70.212765957%;
*margin-left:70.106382979%
}
.row-fluid .offset8:first-child {
	margin-left: 68.085106383%;
*margin-left:67.978723404%
}
.row-fluid .offset7 {
	margin-left: 61.70212766%;
*margin-left:61.595744681%
}
.row-fluid .offset7:first-child {
	margin-left: 59.574468085%;
*margin-left:59.468085106%
}
.row-fluid .offset6 {
	margin-left: 53.191489362%;
*margin-left:53.085106383%
}
.row-fluid .offset6:first-child {
	margin-left: 51.063829787%;
*margin-left:50.957446809%
}
.row-fluid .offset5 {
	margin-left: 44.680851064%;
*margin-left:44.574468085%
}
.row-fluid .offset5:first-child {
	margin-left: 42.553191489%;
*margin-left:42.446808511%
}
.row-fluid .offset4 {
	margin-left: 36.170212766%;
*margin-left:36.063829787%
}
.row-fluid .offset4:first-child {
	margin-left: 34.042553191%;
*margin-left:33.936170213%
}
.row-fluid .offset3 {
	margin-left: 27.659574468%;
*margin-left:27.553191489%
}
.row-fluid .offset3:first-child {
	margin-left: 25.531914894%;
*margin-left:25.425531915%
}
.row-fluid .offset2 {
	margin-left: 19.14893617%;
*margin-left:19.042553191%
}
.row-fluid .offset2:first-child {
	margin-left: 17.021276596%;
*margin-left:16.914893617%
}
.row-fluid .offset1 {
	margin-left: 10.638297872%;
*margin-left:10.531914894%
}
.row-fluid .offset1:first-child {
	margin-left: 8.510638298%;
*margin-left:8.404255319%
}
.cot-song { font-family:Arial, Helvetica, sans-serif; color:#555;}
.cot-song .standard-padding-top{ padding-top:10px;}
.cot-song .standard-padding-bottom{padding-bottom:10px;}
.cot-song .standard-padding-left{ padding-left:10px;}
.cot-song .standard-padding-right{ padding-right:10px;}
.cot-song .border-top { border-top:1px solid #D3D3D3;}
.results-wrap .border-right { border-right:1px solid #D3D3D3;}
.chu-mo { color:#999;}
.cot-song .no-warp { white-space:nowrap;}
.results-wrap .price { color: #0088CC;
    font-size: 16px;
    font-weight: bold;
    margin: 0;}
.icon-chu a { color:#9b9b9b; font-size:18px; cursor:pointer;}
	
.standard-padding-bottom1 { margin-bottom:10px;}
.standard-padding-top1 { margin-top:10px;}

/***/
.btn-default {background-color:#f54828;}
.btn-minimal:hover {	color: #f54828;}
#accordion div h4:before {	background:#f54828 url('../img/plus.png') center center no-repeat;}
#accordion div.active h4:before {background:#f54828 url('../img/minus.png') center center no-repeat;}
.sidebar h4 {color:#f54828;}
.nav-tabs>.active>a,.nav-tabs>.active>a:hover {color: #f54828 !important;}
blockquote {border-left:5px solid #f54828;}
#skill i {background:#f54828;}
.service-fancybox:hover i {color:#f54828;}
.service-fancybox:hover {background:#f54828;}
.service-fancybox.featured {	background:#f54828;}
.service-fancybox.featured .circleicon i {color:#f54828;}
.service-fancybox.black .circleicon i {color:#f54828;}
.cbp_tmtimeline>li .cbp_tmicon {background:#f54828;}
.services i {	color:#f54828;}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus {background-color:#f54828;	border-color:#f54828;}
.landingpage-button {color:#f54828;}
.landingpage-button {color:#f54828;}
.landingpage-button span {color:#f54828;}
.landingpage-button strong {color:#f54828;}
.landingpage-button i {color:#f54828;}
.active-header {	background:#f54828;}
.active-header:hover {background:#f54828;}
#filter ul li .selected {background: #f54828 !Important;}
.drop-cap, .captionicons {background:#f54828;}
.pageheader-default .semitransparentbg, .bgarea-semitransparent {background: rgba(245,72,40,0.80) !important;}

/**/

/* Set all parents to full height */

/*list search selected*/

.search-selected { padding-left:0 !important; padding-right:0 !important;}
.breadcrumb { background-color:#dcdcdc;}
.breadcrumb a { color:#000; text-decoration:none;}
.breadcrumb a.active {color:#f54828 !important;}
.breadcrumb a:hover { color:#F54828;}
.alert > p { margin-bottom:10px !important;}

.summary h3 { font-size:15px; margin-top:5px; margin-bottom:10px;}
.summary div { margin-bottom:5px;}
.text-reed { color:#A94442;}
.card-list {
    list-style-type: none;
    margin: 5px 10px 0 0;
	
}
.card-list li {
    margin: 0 10px 10px 0;
	float:left;
}

.input-group.more {border-collapse: separate;
    display: table;
    position: relative;
}
.input-group-addon.more { padding:0 !important;}
.input-group-addon.more2 { padding:0; background:none !important; border:none !important; padding-left:20px;}
.input-group-addon.more i { font-size:18px;}

.payment-dress { background:#fff;}
.payment-dress .form-body{ padding:5px;}
.payment-dress .form-body h1 { font-size:14px; margin-top:0 !important; margin-bottom:8px;}
.payment-dress .form-body label { font-size:14px;}
 .form-body input, button, select, textarea { margin-bottom:0;}
.padd-ny { padding-top:5px;}
.input-group .box1 { width:50px;}
.total-end .portlet.box.blue { margin-top:20px; margin-bottom:15px; border:1px solid #B4CEF8; }
.total-end .portlet.box.blue .text-tang .row.thanh-tien .mau-den {
    color: #444444;
    font-size: 17px;
    font-weight: bold;
}
.total-end .portlet.box.blue .text-tang .row.thanh-tien .mau-xanh {
    color: #0D99C7;
    font-size: 18px;
    font-weight: bold;
}
.input-group .box2 { width:60px; margin-left:10px;}
.alert > ul { margin-left:15px;}
.home-product .phandau .head-cong h1{ font-size:20px; font-weight:normal; color:#444; text-transform:none;}
.home-product .phandau .head-cong h1 small { font-style:italic;}

.home-product .phandau .lich-trinh .portlet.box.green{ border:1px solid #dddddd;}
.home-product .phandau .lich-trinh .portlet.box.green > .portlet-title {
    background-color: #8dc059;
}
.home-product .phandau .lich-trinh .portlet.box.green > .portlet-title .caption i { font-size:18px; margin-top:0; margin-right:10px;}
.home-product .phandau .lich-trinh .portlet.box.green > .portlet-body ul { padding:0 0 0 25px;}
.home-product .phandau .lich-trinh .portlet.box.green > .portlet-body .inline-list {list-style: none outside none;
    margin: 0 0 5px;
    overflow: hidden;
    }
	
.home-product .phandau .lich-trinh .portlet.box.green > .portlet-body .inline-list > li {
	font-size:14px;
    display: block;
	color:#444;
    float: left;
    margin: 0 0 5px;
    width: 50%;
}

.home-product .phandau .lich-trinh .portlet.box.green > .portlet-body .inline-list > li.full { width:100%;}

.home-product .phandau .lich-trinh2 .portlet.box.blue{ border:1px solid #dddddd;}
.home-product .phandau .lich-trinh2 .portlet.box.blue > .portlet-title {
    background-color: #64c4fb;
}

/**/
.home-product .phandau .lich-trinh .portlet.box.blue{ border:1px solid #dddddd;}
.home-product .phandau .lich-trinh .portlet.box.blue > .portlet-title {
    background-color: #64C4FB;
}
.home-product .phandau .lich-trinh .portlet.box.blue > .portlet-title .caption i { font-size:18px; margin-top:0; margin-right:10px;}
.home-product .phandau .lich-trinh .portlet.box.blue > .portlet-body ul { padding:0 0 0 25px;}
.home-product .phandau .lich-trinh .portlet.box.blue > .portlet-body .inline-list {list-style: none outside none;
    margin: 0 0 5px;
    overflow: hidden;
    }
	
.home-product .phandau .lich-trinh .portlet.box.blue > .portlet-body .inline-list > li {
	font-size:14px;
    display: block;
	color:#444;
    float: left;
    margin: 0 0 5px;
    width: 50%;
}

.home-product .phandau .lich-trinh .portlet.box.green > .portlet-body .inline-list > li.full { width:100%;}

.home-product .phandau .lich-trinh2 .portlet.box.blue{ border:1px solid #dddddd;}
.home-product .phandau .lich-trinh2 .portlet.box.blue > .portlet-title {
    background-color: #64c4fb;
}
/**/

.home-product .phandau .lich-trinh2 .portlet.box.blue > .portlet-title .caption  { float:right;}
.home-product .phandau .lich-trinh2 .portlet.box.blue > .portlet-body.text-tang { font-size:16px; color:#727272;}
.home-product .phandau .lich-trinh .portlet.box.blue > .portlet-body { font-size:15px; color:#727272;}
.home-product .phandau .lich-trinh .portlet.box.green > .portlet-body { font-size:15px; color:#727272;}
.home-product .phandau .lich-trinh2 .portlet.box.blue > .portlet-body.text-tang .row div { margin-bottom:8px;}
.home-product .phandau .lich-trinh .portlet.box.blue > .portlet-body.text-tang .row div { margin-bottom:6px;}
.text-green { color:#4B883C;}
.home-product .phandau .lich-trinh2 .portlet.box.blue > .portlet-body.text-tang .row.thanh-tien { border-top:1px solid #ddd; margin-left:-10px !important; margin-right:-10px !important; padding-top:15px; padding-left:10px; padding-right:10px;}
.home-product .phandau .lich-trinh2 .portlet.box.blue > .portlet-body.text-tang .row.thanh-tien .mau-den { color:#444; font-size:17px; font-weight:bold;}
.home-product .phandau .lich-trinh2 .portlet.box.blue > .portlet-body.text-tang .row.thanh-tien .mau-xanh { color:#0d99c7; font-size:18px; font-weight:bold;}



.home-product .phandau .lich-trinh .portlet.box.blue > .portlet-body.text-tang .row.thanh-tien { border-top:1px solid #ddd; margin-left:-10px !important; margin-right:-10px !important; padding-top:15px; padding-left:10px; padding-right:10px;}
.home-product .phandau .lich-trinh .portlet.box.blue > .portlet-body.text-tang .row.thanh-tien .mau-den { color:#444; font-size:17px; font-weight:bold;}
.home-product .phandau .lich-trinh .portlet.box.blue > .portlet-body.text-tang .row.thanh-tien .mau-xanh { color:#0d99c7; font-size:18px; font-weight:bold;}


.chon-them h1 { font-size:20px !important; text-transform:none !important; font-weight:normal; }
.btn.mock3 { width:100%; text-align:left; color:#fff; font-size:18px;}
.btn.mock3 i { margin-right:10px; font-size:20px;}
.btn.grey.mock3 { background-color:#aaa; border-radius:0 !important; -moz-border-radius:0; -webkit-border-radius:0;}

.btn.grey.mock3 .mine2:after {font-family: 'FontAwesome'; content: "\f078"; float:right; color:#fff;}
.btn.grey.mock3.active .mine2:after {font-family: 'FontAwesome'; content: "\f077"; float:right; color:#fff;}
.dichvu-chuyen { background-color:#fff; padding:10px;}
.dichvu-chuyen h1 { font-size:14px !important; text-transform:none !important;}
.dichvu-chuyen label { color:#444;}

/*table*/
.dichvu-chuyen table td { color:#444;}
.dichvu-chuyen .extra-price { text-align:right; color:#727272; font-weight:bold; font-size:14px;}
.dichvu-chuyen .total-price {color: #0D99C7;
    font-size: 18px;
    font-weight: bold;}

.foot-con { text-align:right; margin-top:15px; }
.foot-con .btn.red { font-weight:bold;}

/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > .navi {
	position: fixed;
	z-index: 9999;
	right: 20px;
	top: 50%;
	width: 26px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cbp-fbscroller > .navi a {
	display: block;
	position: relative;
	z-index: 9999;
	background:#e5e5e5;
	color: transparent;
	width: 12px;
	height: 12px;
	outline: none;
	margin: 25px 0;
	border-radius: 50%;
}

.no-touch .cbp-fbscroller > .navi a:hover {
	background: rgba(255,255,255,0.6);
}

.cbp-fbscroller > .navi a.cbp-fbcurrent {
	background: #d6335c;
	border:2px solid #fff;
	margin-left:-3px;
	width: 16px;
	height: 16px;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}

#fbsection1 {
	
}

#fbsection2 {
	
}

#fbsection3 {
	
	
}

#fbsection4 {
	
}

#fbsection5 {
	background-image: url(../images/5.jpg);
}

/*Circle animation by Codrops*/

.ch-item {
	  background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 50%;
    cursor: default;
    height: 100%;
    position: relative;
    width: 100%;
}

.ch-info-wrap, 
.ch-info{
	position: absolute;
	width: 240px;
	height: 240px;
	border-radius: 50%;
}

.ch-info-wrap {
	left: 5px;
    top: 5px;

}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	
	-webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info .ch-info-front {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
	opacity: 0;

	background: #cc0033;
	pointer-events: none;
	
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-1 { 
	background-image: url(../images/airplane.jpg);
	background-repeat:no-repeat;
background-size:100% 100%;
background-origin:content-box;
}

.ch-img-2 { 
	background-image: url(../images/hotel.jpg);
	background-repeat:no-repeat;
background-size:100% 100%;
background-origin:content-box;
}

.ch-img-3 { 
	background-image: url(../images/hotel-plane.jpg);
	background-repeat:no-repeat;
background-size:100% 100%;
background-origin:content-box;
}


/**/
.ch-img-4 { 
	background-image: url(../images/visa.jpg);
	background-repeat:no-repeat;
background-size:100% 100%;
background-origin:content-box;
}

.ch-img-5 { 
	background-image: url(../images/convoi.jpg);
	background-repeat:no-repeat;
background-size:100% 100%;
background-origin:content-box;
}

.ch-img-6 { 
	background-image: url(../images/vali.jpg);
	background-repeat:no-repeat;
background-size:100% 100%;
background-origin:content-box;
}

.ch-info h3 {
	 color: #FFFFFF;
    font-size: 26px;
    height: 120px;
    letter-spacing: 2px;
    margin: 0 15px;
    padding: 60px 0 0;
    text-shadow: 0 0 1px #FFFFFF, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.ch-info p {
	color: #fff !important;
	padding: 20px 5px 0 !important;
	font-style: italic;
	margin: 0 30px !important;
	font-size: 16px !important;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #e7615e;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	padding-top: 4px;
}

.ch-info p a:hover {
	color: #fff;
}

.ch-item:hover .ch-info-front {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	opacity: 0;
} 

.ch-item:hover .ch-info-back {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	
	opacity: 1;
	pointer-events: auto;
}

.ch-grid {height: 250px;
    margin: 20px auto;
    width: 250px;}

/*loading form*/	

.loading-form h1 { color:#dfdede; font-size:20px; text-transform:uppercase;}
.loading-form h3 { color:#dfdede; font-size:13px; margin-bottom:23px; margin-top:15px; white-space:nowrap}
.loading-form h5 { color:#dfdede; font-size:12px; font-weight:normal;}
.loading-form .form-body .form-group { margin-bottom:10px;}
.hover-add { color:#fff;}
.hover-add:hover { color:#fff; text-decoration:underline;}	

.benefits .fontawesome-icon.circle-white {
    background-color: #FFFFFF;
    border: 3px solid #CC0033;
    border-radius: 100px;
    color: #CC0033;
    margin-bottom: 5px;
    text-align: center;
    transition: all 0.5s ease-in-out 0s;
	height:80px;
	line-height:70px;
	width:80px;
}
/* Form Hotel*/	


.hotel-form .radio-inline { color:#fff;}
.hotel-form .form-body{ padding:0 !important;}

.hotel-form .form-body .datepicker.dropdown-menu {-webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);}
	
.hotel-form .form-body .form-group { margin-bottom:20px;}
	
.nopadleft { padding-left: 0!important;}	
.nopadright { padding-right: 0!important;}	





.hotel-form .form-body .form-group .input-daterange input { padding:4px 10px; color:#767474; border-radius:2px;}
.hotel-form .form-body .form-group .input-group-addon { background:none !important; border: none !important; min-width:0 !important;}

.hotel-form .form-body .form-group .checkbox-list > label { color:#fff;}

.hotel-form .form-actions{ background:none !important; border:none !important; margin-top:0 !important; padding-top:0 !important;}
.hotel-form .form-actions .but-fot button { font-size:15px; color:#fff; padding-left:15px; padding-right:15px;}
.hotel-form .form-actions .but-fot i { font-size:18px; color:#fff; margin-right:5px;}
.hotel-form .form-actions a.mana-tic { color:#44c0f9; text-decoration:underline; font-size:15px; margin-left:20px;}
.adv .carousel-inner > .item > img, .carousel-inner > .item > a > img { height:335px; max-width:420px;}


/*hotel seclect*/
.hotel-selected2 .portlet-body{ padding-left:0 !important; padding-top:15px !important; padding-right:0 !important; padding-bottom:15px !important;}
.hotel-selected2 .hotel-article  h3{ margin-top:0px; margin-bottom:10px;}
.hotel-selected2 .hotel-article  h3 a { font-size:18px; margin-bottom:5px;}
.hotel-selected2 .hotel-article  h3 a:hover { text-decoration:none;}
.hotel-selected2 .hotel-article  h3 a:visited { text-decoration:none;}
.hotel-selected2 .hotel-article  h3 a:active { text-decoration:none;}

.hotel-selected2 .hotel-article  h3 .rating { font-size:20px;}
.hotel-selected2 .hotel-article  h3 .rating span.star:before {
  content: "\f005";
  color: #e3cf7a;
}


.hotel-selected2 .hotel-mess  .description  strong { margin-right:5px;}


/**/
.head-cong.hotel-slect { margin-bottom:15px;}
.head-cong.hotel-slect h1 { margin-bottom:5px;}
.head-cong.hotel-slect h2 { margin-top:0; margin-bottom:0; color:#FAA02A; font-size:15px;}
.head-cong.hotel-slect small { font-size:14px;;}


/**/

.more-services label { color:#fff; padding-top:5px;}
.but-fot a { margin-left:10px; color:#44C0F9; text-decoration:underline;}



